.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.myStyle{
  padding: 15px;       /*패딩 사이즈*/
  color: orangered;  /*색상*/
  font-size: 60px;     /*사이즈*/
  font-weight: 600;    /*장평*/
}

.Board{
  padding: 60px;
  border: 2px;
  border-color: black;
}